h1{

	color: #A16E0C;
	font-style: bold;
	font-size: 40px;
}

p{
	color: #A16E0C;
	font-size: 30px;
}

body{
	background-color: #FAF3E0;
	text-align: center;
}

a{
	color: #FF6F00;
}

#main{
	border: 1px solid #FAF3E0;
	border-radius: 100px;
	width: 550px;
	height: 400px;
}

.grp{
	border: 1px solid #FAF3E0;
	border-radius: 100px;
	width: 150px;
	height: 200px;
	margin-left: 10px;
}

.sidenav {
  height: 100%; 
  width: 200px; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #fae3a3; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #795104;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


